/* Limpar formatações padrão */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6
}

/* Layout */
.area-principal {
    background: #CCC;
    width: 98%;
    margin: 10px auto;

}


.rodape {
    clear: both;

}

/* Formatações do menu*/
.menu img {
    width: 100px;
    height: 100px;
    margin: 5px;

}

.menu {
    border: 1px solid #1CE2E2;
    background: #080707;
}

a {
    text-decoration: none;
    color: #108888;
    padding: 15px;
}

.links-pag {

    font-size: 25px;
    margin-bottom: 200px;
    position: absolute;
    top: 50px;
    left: 150px;
    

}

.form-login {

    position: absolute;
    top: 50px;
    left: 900px;
    font-size: 20px;
    text-align: center;
    color: #108888;
}

.form-login button {
    text-decoration: none;
    font-size: 20px;
    margin-left: 53px;
} 


/* Formatações em geral */